<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container text-center text-white" style="width: 25%; margin-top: 5%;">
    <div class="row justify-content-center align-items-center">
        <div class="col" style="background-color: rgb(113, 140, 216); border-radius: 20px;">
            <h1 style="margin-top: 5%;">PAYROLL</h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-lines-fill mb-2" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
            </svg>
            <hr>
            <form method="post" class="form" style="display: block;">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn text-white" type="submit" style="background-color: rgb(216, 113, 176); border-radius: 20px; margin-bottom: 10%; margin-top: 5%;">
                    Iniciar Sesión
                </button>
            </form>
        </div>
</div>

{% endblock %}