{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="card">
    <center>
        <Strong>
            <div class="card-header">
                <h2>Nosotros</h2>
            </div>
        </Strong>
    </center>
    <div class="card-body">
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda tempore maiores 
            sunt deserunt aut eaque repellendus accusantium. Nemo, in suscipit, voluptate dolore est quos 
            accusantium facere ipsa illo ullam officiis?</p>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}